html, body, #root {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--chakra-colors-gray-300);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--chakra-colors-gray-500);
  border-radius: 3px;
}